<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora Simples
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calculadora Simples</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>


<ion-content>


  <ion-input
  placeholder="Digite aqui o seu calculo..."
  type="text" 
  [(ngModel)]="display"
  />

  <ion-fab *ngIf="operator != null"  slot="fixed" horizontal="end" vertical="center">
    <ion-fab-button>
      {{operator}}
    </ion-fab-button>
  </ion-fab>
</ion-content>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
        <ion-button fill="clear" expand="block" (click)="click('ac')">AC</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" expand="block"  (click)="click('c')">C</ion-button>
      </ion-col>
      <ion-col class="operadores"><ion-button fill="clear" expand="block" (click)="click('/')">/</ion-button></ion-col>
    </ion-row>    
    <ion-row>
        <ion-col class="numeradores"><ion-button fill="clear" expand="block" (click)="click(7)">7</ion-button></ion-col>
        <ion-col class="numeradores"><ion-button fill="clear" expand="block" (click)="click(8)">8</ion-button></ion-col>
        <ion-col class="numeradores"><ion-button fill="clear" expand="block" (click)="click(9)">9</ion-button></ion-col>
        <ion-col class="operadores"><ion-button fill="clear" (click)="click('X')">X</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="numeradores"><ion-button fill="clear" expand="block" (click)="click(4)">4</ion-button></ion-col>
      <ion-col class="numeradores"><ion-button fill="clear" expand="block" (click)="click(5)">5</ion-button></ion-col>
      <ion-col class="numeradores"><ion-button fill="clear" expand="block" (click)="click(6)">6</ion-button></ion-col>
      <ion-col class="operadores"><ion-button fill="clear" expand="block" (click)="click('-')">-</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="numeradores"><ion-button fill="clear" expand="block" (click)="click(1)">1</ion-button></ion-col>
      <ion-col class="numeradores"><ion-button fill="clear" expand="block" (click)="click(2)">2</ion-button></ion-col>
      <ion-col class="numeradores"><ion-button fill="clear" expand="block" (click)="click(3)">3</ion-button></ion-col>
      <ion-col class="operadores"><ion-button fill="clear" expand="block" (click)="click('+')">+</ion-button></ion-col>
    </ion-row>
      <ion-row>
      <ion-col class="numeradores"><ion-button fill="clear" expand="block" (click)="click(0)">0</ion-button></ion-col>
      <ion-col class="virgula"><ion-button fill="clear" expand="block" (click)="click(',')">,</ion-button></ion-col>
      <ion-col class="resultado"><ion-button fill="clear" expand="block" (click)="calcular()">=</ion-button></ion-col>
    </ion-row>
  </ion-grid>
