ion-col {
  background-color: #135d54;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.operadores{
  background-color: #da7b23;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
}

ion-button {
  font-size: 20px;
  color:white;
}

.resultado{
  background-color: rgb(17, 0, 255);
}

